<div ng-controller="testCtrl">
	<div class="jumbotron">
		<h2>Choose room</h2>
		<p class="pull-right">... Information about home</p>

		<div class="btn-group" dropdown>
			<button type="button" class="btn btn-danger">{{room}}</button>
			<button type="button" class="btn btn-danger dropdown-toggle"
				dropdown-toggle>
				<span class="caret"></span> <span class="sr-only">Split
					button!</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/#/Wohnzimmer">Wohnzimmer</a></li>
				<li><a href="/#/Badezimmer">Badezimmer</a></li>
			</ul>
		</div>

		<button ng-click=refreshTemperature() type="button"
			class="btn btn-danger">Refresh</button>
		<h4>Choose date</h4>
		<div class="row">
			<div class="col-md-6">
				<p class="input-group">
					<input ng-disabled="true" type="date" class="form-control"
						datepicker-popup="{{format}}" ng-model="dt" is-open="opened"
						min-date="minDate" date-disabled="disabled(date, mode)"
						ng-required="true" ng-change="refreshTemperature()"
						close-text="Close" /> <span class="input-group-btn">

						<button type="button" class="btn btn-default"
							ng-click="open($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>
		</div>
	</div>
	<div class="text-center">
		<div class="row">
			<div class="col-md-6">
				<h2>Day</h2>
				<div style="width: 80%; height: 80%;">
					<cjs-line dataset="dayData" responsive="true"></cjs-line>
				</div>
			</div>
			<div class="col-md-6">
				<h2>Latest</h2>
				<div style="width: 80%; height: 80%;">
					<cjs-line dataset="dayData" responsive="true"></cjs-line>
				</div>
			</div>
		</div>
	</div>
</div>
